.Newsmain {
    height: 570px;
}
.Newsmain .News_left {
    width: 220px;
    height: 90px;
    background-color: #f0f0f0;
    margin-right: 26px;
}
.Newsmain .News_left .News_Ltitle {
    width: 100%;
    height: 30px;
    background-color: #ABABAB;
    margin-bottom: 5px;
}
.Newsmain .News_left .News_Ltitle span {
    font:700 12px/30px 'Microsoft Yahei';
    color:#fff;
    padding-left: 10px;
}
.Newsmain .News_left ul {

}
.Newsmain .News_left li a {
    display: block;
    height: 26px;
    width: 205px;
    padding-left: 15px;
    font:400 12px/26px 'Microsoft Yahei';
    color:#888;
}
.Newsmain .News_left li a:hover {
    background-color: #333;
    color:#fff;
}
.Newsmain .News_right .News_Rtitle {
    text-align: right;
    width: 820px;
    height: 25px;
    margin-bottom: 18px;
    border-bottom: 1px dotted #888;
}
.Newsmain .News_right ul {
    width: 820px;
}
.Newsmain .News_right ul li {
    float: left;
    height: 157px;
    width: 200px;
    line-height: 32px;
}
.Newsmain .News_right ul li img {
    border: 1px solid #ccc;
    padding: 2px;
    margin-left: 18px;
}
.Newsmain .News_right ul li a {
    display: block;
    text-align: center;
    width: 180px;
    height: 31px;
    padding-top: 2px;
    color:#888;
}
.Newsmain .News_right ul li span {
    text-align: right;
}
.Newsmain .News_right .cage {
    padding-top: 10px;
    text-align: center;
}
.Newsmain .News_right .cage a:last-of-type{
    font-family: "webdings";
    color:#999;
}